<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>ejercicio1</title>
</head>
<body>

  <h3>Ejercicio1</h3>
  <div><app-saludo [nombre]="'david'"></app-saludo></div>

  <h3>Ejercicio2</h3>
  <div><app-contador></app-contador></div>

  <router-outlet></router-outlet>

  <h3>Ejercicio3</h3>
  <div><app-lista-tareas></app-lista-tareas></div>

  <h3>Ejercicio4</h3>
  <div><app-temporizador></app-temporizador></div>

  <h3>Ejercicio5</h3>
  <div><app-padre-comnt></app-padre-comnt></div>

  <h3>Ejercicio6</h3>
  <div><app-tarjeta-producto></app-tarjeta-producto></div>


  <h3>Ejercicio7</h3>
  <div><app-calculadora-simple></app-calculadora-simple></div>


  <h3>Ejercicio8</h3>
  <div class="contenedor">
    <div class="productos">
      <app-tarjeta-producto-compra
        *ngFor="let producto of productos"
        [nombre]="producto.nombre"
        [descripcion]="producto.descripcion"
        [precio]="producto.precio"
        (agregar)="agregarProducto(producto)"
        (quitar)="quitarProducto(producto)">
      </app-tarjeta-producto-compra>
    </div>
    <div class="ticket">
      <app-total-compra [items]="items"></app-total-compra>
    </div>
  </div>


</body>
</html>



